:host{
    width: 100%;
    display: grid;
    grid-row-gap: 10px;
    .month-label, .year-label {
        text-align: center;
    }
    .header-row{
        display: grid;
        grid-template-columns: 15px auto 15px;
        width: 100%;
        .fa-solid:hover {
            cursor: pointer;
            width: 15px;
            height: 15px;
        }
    }
}
