:host{
    width: 100%;
    display: grid;
    grid-row-gap: 5px;
    .year-selector {
        width: 100%;
        justify-self: center;
        ::ng-deep .mat-mdc-form-field-infix{
            padding: 0px;
            min-height: 20px;
        }
        ::ng-deep .mat-mdc-form-field-bottom-align{
            height: 0px;
        }
    }
    .month-selector {
        width: 150px;
        justify-self: center;
        ::ng-deep .mat-mdc-form-field-infix{
            padding: 0px;
            min-height: 20px;
        }
        ::ng-deep .mat-mdc-form-field-bottom-align{
            height: 0px;
        }
    }
    .month-select-row {
        display: grid;
        grid-template-columns: 15px auto 15px;
        width: 100%;
        .fa-solid:hover {
            cursor: pointer;
            width: 15px;
            height: 15px;
        }
    }
}
